body {
    margin: 0;  
}

header {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 20px 5%;
}

nav {
    display: flex;
    align-items: center;
    font-weight: bold;
}

ul {
    list-style: none;
    margin: 20px;
    padding: 0;
    display: flex;
}

ul li {
    margin-right: 20px;
}

a {
    color: grey;
    text-decoration: none;
    padding: 10px;
    border: 1px grey;
    border-radius: 5px;
}

a:hover {
    color: rgb(246, 8, 8);
    border-color: rgb(246, 8, 8) ;
}
