body{
    margin: 0;
    max-width: 1000px;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: salmon;
    height: 220px;
}

.header-container{
    text-align: center;
}

.titulo1 {
    margin-top: 0;
    color: white;
}

div {
    color: white;
    margin-top: 10px;
}

.menu-container{
    display: flex;
    justify-content: space-between;
    margin: 0;
    background-color: rgb(28, 175, 126);
    padding: 15px;
}

ul {
    list-style: none ;
    margin: 0;
    display: flex;
}

ul li{
    margin-right: 20px;
    color: white;
}

a {
    text-decoration: none;
    padding: 10px;
    border-radius: 20px;
    color: white;
}

main{
    display: flex;
}

aside{
    padding: 35px;
    background-color: rgba(192, 192, 192, 0.37);
    width: 30%;
    height: 112vh;
    margin-left: 0px;
}

.h-aside{
    margin-top: auto;
    text-align: left;
}

.galery img{
    width: 290px;
    height: 290px;
}

.galery2 img{
    width: 290px ;
    height: 200px;
    margin-top: 6px;
}

article{
    width: 70%;
    background-color: rgba(250, 235, 215, 0.144);
}

.oficial{
    margin-left: 20px;
}

.ofc1{
    margin-left: 20px; 
}

.galery3 img{
    margin-left: 20px; 
    width: 600px;
    height: 200px;
}

article p{
    margin-left: 20px;
}

article .pp{
    border-bottom: 5px solid rgba(184, 183, 183, 0.486); 
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(167, 165, 165, 0.637);
    height: 100px;
}
